.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100vw;
    background-color: #ffffff;
    padding: 10px 2.5%;
    flex: 1;
}

.navbar__logo {
    width: 207px;
    height: 48px;
    cursor: pointer;
    flex-basis: auto;
}

.navbar__left-items{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0.4;
}

.navbar__right-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0.15;
}

.navbar__link {
    text-decoration: none;
    font-family: montserrat;
    color:#4D4E52;
    margin: auto;
    font-weight: 500;
}

.navbar__hamburger {
    width: 114px;
    height: 48px;
    cursor: pointer;
    width: 100%;
}

.navbar__link--highlighted{
    color: #00ba6b;
}