.jumbotron-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  width: 100%;
  padding: 60px 10%;
}

.jumbotron-container__jumbotron-text {
  flex: 0 1 37vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.jumbotron-container__title {
  margin-bottom: 15px;
  font-size: 24px;
  color: #333234;
  width: auto;
  text-align: right;
}

.jumbotron-container__description {
  margin-bottom: 35px;
  color: #7e7e7e;
  font-size: 18px;
  text-align: right;
}

.jumbotron-container__image {
  margin-right: 11%;
}
.jumbotron-container__image > img {
  width: 100%;
}

.jumbotron-container__description b {
  color: #3acc6c;
}

@media screen and (max-width: 942px) {
  .jumbotron-container {
    flex-direction: column;
    margin-right: 0%;
    margin-top: 40px;
  }

  .jumbotron-container__image {
    width: 70%;
    margin-right: 0px;
  }

  .jumbotron-container__image > img {
    margin-bottom: 50px;
  }

  .jumbotron-container__jumbotron-text {
    justify-content: center;
    flex: 0;
  }

  .jumbotron-container__title {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .jumbotron-container__description {
    text-align: center;
    font-size: 17px;
  }
}
