.EmpresaView {
  padding: 3vw 6vw;
  font-size: 12px;
  color: #707070;
  background-color: white;
}

.EmpresaView h2 {
  color: #333234;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 1.4em;
  flex-wrap: wrap;
}

.EmpresaView__up {
  display: flex;
  height: 60%;
  width: inherit;
}

.EmpresaView__up span {
  color: #333234;
  font-size: 15px;
  font-weight: 600;
}
.EmpresaView__pp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 15%;
  padding-top: 24px;
  background-color: blue;
}

.EmpresaView__image {
  width: 12vw;
  height: 12vw;
  border-radius: 100px;
  object-fit: cover;
}

.EmpresaView__bio {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 45%;
  background-color: orange;
}

.EmpresaView__bioleft {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 10px;
  height: 100%;
  width: 100%;
  background-color: yellow;
}

.EmpresaView__bioleft p {
  margin-top: 20px;
}

.EmpresaView__bioright {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 6%;
  padding-top: 30px;
  background-color: plum;
}

.EmpresaView__contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 30px 10px;
  height: 100%;
  width: 20%;
  background-color: turquoise;
}

.EmpresaView__contact a {
  color: #00ba6b;
  text-decoration: none;
  cursor: pointer;
}

.EmpresaView__metrics {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 30px 10px;
  height: 100%;
  width: 20%;
  background-color: tomato;
}

.EmpresaView__metrics span {
  color: #333234;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.EmpresaView__down {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 40%;
  width: inherit;
  padding: 20px;
  background-color: lavender;
}

.EmpresaView__offers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: 90%;
  width: inherit;
  background-color: gold;
}
