.EmpresaView {
  padding: 3vw 6vw;
  font-size: 12px;
  color: #707070;
  /* background-color: white; */
}

.EmpresaView h2 {
  color: #333234;
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 1.4em;
  flex-wrap: wrap;
}

.EmpresaView__up {
  display: flex;
  height: 60%;
  width: inherit;
  flex-direction: row;
  justify-content: space-between;
}

.EmpresaView__up span {
  color: #333234;
  font-size: 15px;
  font-weight: 600;
}
.EmpresaView__pp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 15%;
  padding-top: 24px;
  /* background-color: blue; */
  flex: 0 1 15%;
  margin-right: 10px;
}

.EmpresaView__image {
  width: 12vw;
  height: 12vw;
  border-radius: 100px;
  object-fit: cover;
}

.EmpresaView__bio {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  flex: 0 1 45%;
}

.EmpresaView__bioleft {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 10px;
  height: 100%;
  width: 100%;
  /* background-color: yellow; */
}

.EmpresaView__bioleft p {
  margin-top: 20px;
}

.EmpresaView__bioleft h2 {
  text-transform: capitalize;
}

.EmpresaView__bioright {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 6%;
  padding-top: 30px;
  /* background-color: plum; */
}

.EmpresaView__contact {
  display: flex;
  flex-direction: column;

  padding: 30px 10px;
  height: 100%;
  flex: 0 1 15%;
  /* background-color: turquoise; */
}

.EmpresaView__contact a {
  color: #00ba6b;
  text-decoration: none;
  cursor: pointer;
}

.EmpresaView__metrics {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 30px 10px;
  height: 100%;
  flex: 0 1 15%;
  /* background-color: tomato; */
}

.EmpresaView__metrics span {
  color: #333234;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.EmpresaView__down {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 40%;
  width: inherit;
  margin-top: 50px;
  /* background-color: lavender; */
}

.EmpresaView__offers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: 90%;
  width: inherit;
}

@media screen and (max-width: 650px) {
  .EmpresaView__up {
    flex-direction: column;
  }

  .EmpresaView__pp--mob {
    align-self: center;
    margin-bottom: 15px;
  }
  .EmpresaView__image {
    width: 24vh;
    height: 24vh;
  }
  .EmpresaView__contact--mob {
    padding: 0px 10px;
    margin: 20px 0px;
  }
  .EmpresaView__bioleft--mob {
    padding: 0px 10px;
    margin: 20px 0px;
  }
  .EmpresaView__metrics--mob {
    padding: 0px 10px;
    margin: 20px 0px;
  }

  .EmpresaView__down h2 {
    padding-left: 10px;
    /* background-color: lavender; */
  }

  .EmpresaView__offers {
    justify-content: center;
  }
}
