.dop-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  font-weight: 500;
  padding: 10px;
}

.dop-wrapper__up-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: inherit;
  padding: 15px;
  font-weight: bold;
  color: #333234;
}

.dop-wrapper__down-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  padding: 15px;
}

.dop-wrapper__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13.5px;
  height: 6vh;
  width: 10vw;
  /* padding: 15px; */
  color: white;
  margin: 0 20px;
  border-radius: 10px;
  cursor: pointer;
}

.dop-wrapper__button--accept {
  background-color: #5bba6f;
}

.dop-wrapper__button--accept:hover {
  background-color: #259e6c;
}

.dop-wrapper__button--cancel {
  background-color: #ee6055;
}

.dop-wrapper__button--cancel:hover {
  background-color: #d3453b;
}

@media screen and (max-width: 416px) {
  .dop-wrapper__up-content {
    font-size: 10px;
    padding: 10px;
    margin-bottom: 5px;
  }

  .dop-wrapper__down-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    padding: 0px;
    padding-bottom: 10px;
  }

  .dop-wrapper__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    height: auto;
    width: 30vw;
    padding: 8px;
    margin: 0 10px;
    border-radius: 6px;
  }
}
