.op-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}

.op-wrapper__close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 27vw;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  color: #333234;
  cursor: pointer;
}

.op-wrapper__up-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  height: 15vw;
  padding: 20px;
  color: #7e7e7e;
  font-size: 12px;
}

.op-wrapper__up-content img {
  width: 11vw;
  height: 11vw;
  border-radius: 20px;
  object-fit: cover;
}

.op-wrapper__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 12vw;
  width: 25vw;
  padding: 10px;
}

.op-wrapper__title {
  color: #333234;
  font-size: 14px;
  font-weight: 500;
}

.op-wrapper__bullets {
  display: flex;
  width: 23vw;
  padding: 15px;
  flex-direction: column;
}

.op-wrapper_tags {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 23vw;
  height: 10vh;
}

.tag__small {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  height: 20px;
  width: auto;
  padding: 5px 12px;
  border-radius: 16px;
  flex-wrap: wrap;
  /* margin-right: 10px; */
}

.tag__text--small {
  font-size: 12px;
  font-weight: 700;
  color: #5bba6f;
}

.op-wrapper__up-content b {
  color: #00ba6b;
  font-weight: 500;
}

.op-wrapper__down-content b {
  color: #00ba6b;
  font-weight: 500;
}

.op-wrapper__down-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: inherit;
  height: 20vw;
  padding: 10px 25px;
  color: #7e7e7e;
  font-size: 12px;
}

.op-wrapper__contact {
  margin-top: 15px;
  display: flex;
  width: 35vw;
  flex-direction: column;
}

.op-wrapper__contact a {
  color: #00ba6b;
  font-weight: 500;
  margin-top: 1vw;
  text-decoration: none;
}
