.op-wrapper {
  width: 90%;
  height: 100%;
  padding-left: 1.1vw;
}
.op-wrapper__up-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 40%;
  padding: 20px 10px 10px 20px;
  color: #7e7e7e;
  font-size: 12px;
  font-weight: 500;
}

.op-wrapper__img {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 30%;
  margin-right: 15px;
}

.op-wrapper__img img {
  width: 10vw;
  height: 10vw;
  border-radius: 20px;
  object-fit: cover;
}

.op-wrapper__up-content b {
  color: #00ba6b;
  font-weight: 500;
}

.op-wrapper__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  width: 70%;
  padding: 0px;
}

.op-wrapper__title {
  color: #333234;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  height: 20%;
  margin-bottom: 6px;
}

.op-wrapper__bullets {
  width: 100%;
  padding: 0px 10px 3px;
  height: 40%;
  padding-left: 25px;
}

.op-wrapper_tags {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 40%;
}

.op-wrapper__down-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 60%;
  padding: 0px 10px 10px 20px;
  color: #7e7e7e;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
}

.op-wrapper__title--v2 {
  height: 10%;
}

.op-wrapper__downinfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  min-height: 100px;
  margin-bottom: 10px;
  white-space: pre-wrap;
}

.op-wrapper__down-content b {
  color: #00ba6b;
  font-weight: 500;
}

.op-wrapper__salary {
  display: flex;
  flex-direction: column;
  height: 15%;
  width: 100%;
}

.op-wrapper__salary b {
  width: 100%;
  color: #00ba6b;
  font-weight: 500;
}

.op-wrapper__contact {
  display: flex;
  flex-direction: column;
  height: 15%;
  width: 100%;
}

.op-wrapper__contact a {
  color: #00ba6b;
  font-weight: 500;
  text-decoration: none;
}

.op-wrapper__button-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5vw;
  padding: 20px;
}

@media screen and (min-width: 1400px) {
  .op-wrapper__up-content {
    font-size: 15px;
  }

  .op-wrapper__down-content {
    font-size: 15px;
  }

  .op-wrapper__title {
    font-size: 20px;
  }

  .tag__text--small {
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  .op-wrapper__up-content {
    padding: 10px 5px 5px 10px;
    font-size: 10px;
    margin-bottom: 10px;
  }

  .op-wrapper__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60px;
    margin-right: 5px;
  }
  .op-wrapper__img img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }

  .op-wrapper__down-content {
    font-size: 10px;
    margin-bottom: 7px;
  }

  .op-wrapper__title {
    font-size: 14px;
  }

  .tag__text--small {
    font-size: 8px;
  }
  .op-wrapper__downinfo {
    min-height: 50px;
    margin-bottom: 7px;
  }

  .op-wrapper__salary {
    margin-bottom: 7px;
  }

  .custom-button--dpa {
    height: 30px;
    padding: 0px 10px;
    font-size: 10px;
  }
}
