.summarypage {
  background-color: #f7f7f7;
  width: 100%;
}

.summarypage__inner {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 2% 5%;
}

.summarypage__title {
  color: #5bba6f;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 40px;
  font-weight: 700;
}

.summarypage__title--dark {
  color: #4d4e52;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 700;
}

.summarypage__header {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.summarypage__form {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.summarypage__form select {
  margin-right: 10px;
}

.form__select{
    width: 50%
}

.custom-button {
  padding: 10px;
}
