.bg-green {
  background-color: #5bba6f;
  color: #fff;
}

.bg-blue {
  background-color: #4267b2;
  color: #fff;
}

.bg-red {
  background-color: #ea4335;
  color: #fff;
}

.bg-gray {
  background-color: #e5e4e4;
  color: #4d4e52;
}

.bg-jet {
  background-color: #333234;
  color: #fff;
}

.spacer {
  margin-bottom: 16px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.login-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/FQ6eh0i.jpg");
}

.green-line {
  display: flex;
  flex-flow: column;
  width: 35%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(90deg, #fff 94%, #5bba6f 50%);
  border-radius: 10px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.sizing-container {
  display: flex;
  flex-flow: column;
  width: 90%;
  padding: 60px;
  background-color: #fff;
  border-radius: 10px;
}

.popup-title {
  color: #5bba6f;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.form-input {
  background-color: #e5e4e4;
  border: none;
  border-radius: 5px;
  height: 45px;
  margin-bottom: 16px;
  padding: 20px;
}

.form-checkbox {
  background-color: red;
}

input:focus {
  outline: none;
}

.popup-text {
  color: #4d4e52;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 16px;
}

.remind-me {
  font-size: 12px;
  font-weight: 400;
  margin-left: 7px;
}

.text-separator {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.popup-link {
  color: #5bba6f;
  text-decoration: none;
}

.custom-button {
  height: 45px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  cursor: pointer;
  flex-wrap: wrap;
}

.custom-button span {
  margin: 0px 10px;
}

.custom-button i {
  margin-right: 10px;
}

.vl {
  border-left: 2px solid #fff;
  height: 18px;
}

.hl {
  margin-top: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  /* margin: 0 10px; */
}

.spacer {
  margin: 0px 10px;
}

.line-separator {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.input__msg {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin-bottom: 15px;
}

.input__msg i {
  margin-right: 5px;
}

.input__msg--error {
  color: red;
}

.input__msg--success {
  color: green;
}
.input__errormsg i {
  margin-right: 5px;
}

@media only screen and (max-width: 1100px) {
  .green-line {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .green-line {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .green-line {
    width: 100%;
  }
}
