.Counter-Banner {
  background-color: #ffffff;
  color: #7e7e7e;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

.obj-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  font-size: 2vh;
}

.obj-container__up-content {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.obj-container__up-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #333234;
}

.obj-container__down-text {
  text-align: center;
  justify-content: flex-start;
  font-weight: 300;
  font-size: 12px;
}

.obj-container__down-text b {
  color: #00ba6b;
}

.counter-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.counter-icon__img {
  flex: 0 1 auto;
  width: 112px;
  height: 112px;
}

.counter-container__counter {
  color: #00ba6b;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
