.recommendationspage__container {
}

.recommendationspage__body {
  padding: 2% 5%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}

.recommendationspage__rectitle {
  color: #4c4d4c;
  margin: 10px 0px;
  width: 100%;
}

.recommendationspage__personlist {
  margin: 10px 0px;
}

.recommendationspage__personlist p {
  color: green;
}
