.profile__backtick {
  color: #00ba6b;
  font-weight: 400;
  cursor: pointer;
}

.profile__header {
  display: flex;
  color: #333234;
  font-size: 24px;
  font-weight: 500;
  align-items: center;
}

.profile__validated{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00BA6B;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
}

.profile__validatedicon{
  color: white;
  font-size: 14px !important; 
}