.pagewrap {
  background-color: #f7f7f7;
  width: 100%;
}

.profilewrap {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  margin: 5% 12%;
}

.profilewrap__img {
  max-width: 100%;
  flex: 1 1 1;
  height: auto;
}

.userprofile__action {
  display: flex;
  margin: 10px 0px;
  width: 50%;
  justify-content: flex-start;
  color: #00ba6b;
  font-size: 15px;
  border: none;
  background-color: white;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.userprofile__action:hover {
  transform: scale(1.05);
}

.userprofile__icon {
  margin-right: 10px;
}

.userprofile__link {
  text-decoration: none;
}

.formss {
  flex: 2;
}

.klk {
  margin-right: 140px;
}

.profilewrap a {
  text-decoration: none;
}

@media (max-width: 1320px) {
  .profilewrap {
    flex-flow: column;
    margin: 5% 6%;
    justify-content: center;
    align-items: center;
  }

  .klk {
    margin-right: 0;
  }
}
