.bg-green {
  background-color: #5bba6f;
  color: #fff;
}

.npassword-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  /* width: 50vw; */
  height: 70vh;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
}

.npassword-container__popup-title {
  display: flex;
  justify-content: flex-start;
  /* width: 40vw; */
  color: #5bba6f;
  font-weight: 600;
  margin-bottom: 20px;
}

.npassword-container__form-input {
  background-color: #e5e4e4;
  border: none;
  border-radius: 5px;
  /* width: 40vw; */
  height: 45px;
  margin-bottom: 16px;
  padding: 20px;
}

.npassword-container__popup-text {
  display: flex;
  justify-content: flex-start;
  width: 40vw;
  color: #4d4e52;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 16px;
}

.npassword-container__custom-button {
  width: 40vw;
  height: 45px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  cursor: pointer;
  flex-wrap: wrap;
  background-color: #5bba6f;
}
.forgot-container__info-container {
  font-size: 13px;
}

@media screen and (max-width: 879px) {
  .npassword-container__popup-title {
    font-size: 25px;
  }
}
