.particularprofilepage-banner {
  height: 280px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.imgur.com/lcHQ2QP.jpeg");
  background-position: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.particularprofilepage-banner__title {
  color: white;
  font-weight: 700;
  font-size: 57px;
  text-shadow: 1px 2px 5px #7e7d7d;
}
.particularprofilepage-body {
  display: flex;
  margin: 30px 5%;
}
.ppp-imagecontainer {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  border-radius: 120px;
}
.particularprofilepage__img {
  width: 200px;
  height: 200px;
}
.particularprofilepage-body * {
  margin: 5px auto;
}

.pppinfocontainer__container {
  display: flex;
  flex-direction: column;
}
.pppinfocontainer__container * {
  margin: 20px 0px;
}
