.particularprofilepage-banner {
  height: 280px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.imgur.com/lcHQ2QP.jpeg");
  background-position: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.ppptitle {
  color: #3a393b;
}
.particularprofilepage-banner__title {
  color: white;
  font-weight: 700;
  font-size: 57px;
  text-shadow: 1px 2px 5px #7e7d7d;
}
.particularprofilepage-body {
  display: flex;
  margin: 30px 5%;
}
.ppp-imagecontainer {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  border-radius: 120px;
  margin: 5px auto;
  overflow: hidden;
}
.particularprofilepage__img {
  width: 200px;
  height: 200px;
}
.particularprofilepage-body * {
}

.pppinfo-container__body {
  display: flex;
  flex-direction: column;
  margin: 5px auto;
}
.pppinfo-container__container * {
  margin: 20px 0px;
}

.ppptags-container {
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  max-width: 264px;
}

.pppadditionalinfo-container__container {
  display: flex;
  flex-direction: column;
}

.ppptags-container__container div {
  margin: 0px 5%;
}

.pppmultimedia-container {
  flex-direction: column;
  margin: 5px auto;
}

.pppadditionalinfo-container__body {
  margin: 0px 5%;
}
