.particularprofilepage-banner {
  height: 280px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.imgur.com/lcHQ2QP.jpeg");
  background-position: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.ppptitle {
  color: #3a393b;
  margin-bottom: 10px;
}
.particularprofilepage-banner__title {
  color: white;
  font-weight: 700;
  font-size: 57px;
  text-shadow: 1px 2px 5px #7e7d7d;
}
.particularprofilepage-body {
  display: flex;
  margin: 30px 5%;
  justify-content: space-between;
}
.ppp-imagecontainer {
  width: 200px;
  height: 200px;

  border-radius: 120px;

  overflow: hidden;
}
.particularprofilepage__img {
  width: 200px;
  height: 200px;
}
.particularprofilepage-body * {
}

.pppinfo-container__body {
  display: flex;
  flex-direction: column;
  flex-grow: 0.7;
  max-width: 50%;
}
.pppinfo-container__container * {
  margin: 20px 0px;
}

.ppptags-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pppadditionalinfo-container__container {
  display: flex;
  flex-direction: column;
}

.ppptags-container__container div {
  margin: 0px 5%;
}

.pppmultimedia-container {
  flex-direction: column;
}

.pppmultimedia-title {
  margin-left: 10px;
}

.pppadditionalinfo-container__body {
}

.pppinfo-container__usertype {
  margin-bottom: 20px;
  margin-left: 13px;
  list-style: none;
}

.pppadditionalinfo-container__body ul {
  margin-left: 13px;
  list-style: none;
}

ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #5bba6f; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
