.Footer {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  width: 100vw;
  height: 25vh;
  padding: 10px 200px;
  bottom: 0;
  color: rgb(110, 108, 108);
  border-top: 1px solid #f7f7f7 !important;
  font-size: 14px;
}

a:link {
  color: rgb(110, 108, 108);
  text-decoration: none;
}

a:visited {
  color: rgb(110, 108, 108);
  text-decoration: none;
}

a:hover {
  color: rgb(110, 108, 108);
  text-decoration: none;
}

a:active {
  color: rgb(110, 108, 108);
  text-decoration: none;
}

.right-foot {
  order: 2;
  justify-content: flex-end;
  align-self: center;
  flex-wrap: wrap;
}

.up-text {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 10px;
}

.up-text a:link {
  color: rgb(7, 158, 57);
  text-decoration: none;
  margin-left: 5px;
}

.up-text a:visited {
  color: rgb(3, 114, 27);
  text-decoration: none;
  margin-left: 5px;
}

.up-text a:hover {
  color: rgb(3, 114, 27);
  text-decoration: none;
  margin-left: 5px;
}

.up-text a:active {
  color: rgb(3, 114, 27);
  text-decoration: none;
  margin-left: 5px;
}

.down-text {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.Rights {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.utobj {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
  margin: 0px 10px 0px 0px;
}

.left-foot {
  order: 1;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.up-content {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
}

.up-content img {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  width: 155px;
  height: 38px;
}

.flogo {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flogo p {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 3px 0px 0px 0px;
  font-size: 13px;
}

.fnavbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: flex-start;
}

.fobj {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  margin: 10px 20px 0px 20px;
}

.middle-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.middle-content img {
  display: flex;
  justify-content: flex-start;
  margin: 10px 20px 20px 0px;
  padding: 0;
  width: 20px;
  height: 20px;
}

.down-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.down-content span {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
