.cta-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;
    width: 100vw;
    padding: 60px 10%;
}

.cta-container__jumbotron-text {
    flex: 0 1 37vw; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.cta-container__title {
    margin-bottom: 15px;
    font-size: 24px;
    color: #333234;
    width: auto;
    
}

.cta-container__description {
    margin-bottom: 35px;
    color: #7E7E7E;
    font-size: 18px;
    text-align: left;
}

.cta-container__image {
    margin-left: 11%;
}
.cta-container__image > img {
   width: 100%;
}

.cta-container__ctabutton {
    width: auto;
    height: 80px;
    flex: 0 1 350px;
    background-color: #00ba6b;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0px 1em;
    align-items: center;
    cursor: pointer;
    font-size: auto;
    color: white;
    font-weight: 600;
}

.cta-container__ctabutton > * {
    padding: 10px;
}

.cta-container__jumbotron-text a {
    text-decoration: none;
}