.cta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  width: 100%;
  padding: 60px 10%;
}

.cta-container__jumbotron-text {
  flex: 0 1 37vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.cta-container__title {
  margin-bottom: 15px;
  font-size: 24px;
  color: #333234;
  width: auto;
}

.cta-container__description {
  margin-bottom: 35px;
  color: #7e7e7e;
  font-size: 18px;
  text-align: left;
}

.cta-container__image {
  margin-left: 11%;
}
.cta-container__image > img {
  width: 100%;
}

.cta-container__ctabutton {
  width: auto;
  height: 80px;
  flex: 0 1 350px;
  background-color: #00ba6b;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0px 1em;
  align-items: center;
  cursor: pointer;
  font-size: auto;
  color: white;
  font-weight: 600;
}

.cta-container__ctabutton--highlighted {
  background-color: #259e6c;
}

.cta-container__ctabutton > * {
  padding: 10px;
}

.cta-container__jumbotron-text a {
  text-decoration: none;
}

@media screen and (max-width: 942px) {
  .cta-container {
    flex-direction: column;
  }

  .cta-container__jumbotron-text {
    flex: 0;
    margin-bottom: 90px;
    align-items: center;
  }

  .cta-container__title {
    font-size: 22px;
  }
  .cta-container__image {
    margin-left: 0px;
  }

  .cta-container__ctabutton {
    font-size: 14px;
    height: 65px;
  }

  .cta-container__description {
    text-align: center;
    font-size: 17px;
  }

  .cta-container__image {
    width: 80%;
  }
}

.fa.fa-address-card.cta-container__profile-icon {
  font-size: 25px;
  margin-right: 5px;
}
