.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  height: 32px;
  width: auto;
  padding: 7px 14px;
  border-radius: 16px;
  flex-wrap: wrap;
  margin-right: 10px;
}

.tag__text {
  font-size: 16px;
  font-weight: 700;
  color: #5bba6f;
}
